@model Server.Traincompositioncarriage

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Traincompositioncarriage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookSeats" class="control-label">Забронировано мест</label>
                <input asp-for="BookSeats" class="form-control" />
                <span asp-validation-for="BookSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarriageId" class="control-label">Вагон</label>
                <select asp-for="CarriageId" class="form-control" asp-items="ViewBag.CarriageId"></select>
                <span asp-validation-for="CarriageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripId" class="control-label">Поездка</label>
                <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
                <span asp-validation-for="TripId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
