<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <form #trainForm="ngForm">
          <div class="form-group row">
            <label for="idTrain" class="col-sm-3 col-form-label">ID поезда</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="idTrain" placeholder="0" name="idTrain"
                     [ngClass]="{'is-invalid': idTrain.touched && !idTrain.valid}"
                     #idTrain="ngModel"
                     [(ngModel)]="train.idTrain"
                     pattern="[\d]*"
                     required>
              <div class="invalid-feedback">
                Пожалуйста укажите правильный ID поезда
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="trainName" class="col-sm-3 col-form-label">Инвентарный номер</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="trainName" placeholder="0" name="trainName"
                     [ngClass]="{'is-invalid': trainName.touched && !trainName.valid}"
                     #trainName="ngModel"
                     [(ngModel)]="train.value"
                     required>
              <div class="invalid-feedback">
                Пожалуйста укажите правильный инвентарный номер
              </div>
            </div>
          </div>
          <div class="row btn-submit">
            <button type="submit" class="btn btn-primary col-sm-6" [disabled]="!trainForm.valid">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
