@model Server.Point

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Point</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Время стоянки
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StayTime)
        </dd>
        <dt>
            >Расстояние от начальной станции
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDistance)
        </dd>
        <dt>
            Маршрут
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>
        <dt>
           Станция
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Station.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
