<div class="card" *ngIf="arr">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr *ngIf="arr">
          <th scope="col" *ngFor="let key of arr[0] | keys">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemArr of arr">
          <td *ngFor="let key of itemArr | keys">{{itemArr[key]}}</td>
          <td>
            <button type="button" class="btn btn-outline-info" (click)="onEdit(itemArr)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="onRemove(itemArr)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
