@model Server.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактировать</h2>

<h4>Билет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarriageNumber" class="control-label">Номер вагона</label>
                <input asp-for="CarriageNumber" class="form-control" />
                <span asp-validation-for="CarriageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depart" class="control-label">Отправление</label>
                <select asp-for="Depart" class="form-control" asp-items="ViewBag.Depart"></select>
                <span asp-validation-for="Depart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrive" class="control-label">Прибытие</label>
                <select asp-for="Arrive" class="form-control" asp-items="ViewBag.Arrive"></select>
                <span asp-validation-for="Arrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Пользователь</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
